<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; 
    any other head content must come *after* these tags -->

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="bootstrap.min.css"> -->

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

	<!-- When I started this project, I had certain preconceived
	notions about what it would be like to interface with this
	API.  As it turns out, most of those notions were wrong.
	To help remedy the problems that the API has created, I
	need to utilize a typeahead search widget which I found
	at http://www.runningcoder.org/, which utilizes jQuery
	and some custom JavaScript and CSS to help the user to
	constrain their location and category sources to those
	which are permitted. -->

	<!-- Note: For some reason, despite claims that they have fixed
	the problem, the typeahead code converted all options to
	lowercase.  I had to figure out where in their code they
	were doing this, because sequelize (to my knowledge) does
	not permit case-insensitive searching.  I found this code
	at lines 552 and 553 of jquery.typeahead.js, so I changed
	them accordingly:

	_display = result.display //.toLowerCase();
	_query = query //.toLowerCase(); -->

	<!-- Optional Typeahead Search CSS -->
    <link rel="stylesheet" href="jquery.typeahead.css">
 
    <!-- Required Typeahead JavaScript -->
    <script src="jquery-2.1.3.min.js"></script>
    <script src="jquery.typeahead.js"></script>

	<!-- Necessary for animation of collapsed menu -->
    <script src="bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- My own jQuery for this page -->
    <script src="index.js"></script>

	<title>Preferred Search Locations</title>
</head>
<body>

	<div class="container">

		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		        	<button type="button" class="navbar-toggle collapsed" 
			          	data-toggle="collapse" data-target="#navbar" 
			          	aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		        	</button>
		        	<a class="navbar-brand" href="/">Angel Alert</a>
		        </div>

		        <div id="navbar" class="navbar-collapse collapse" 
		        	aria-expanded="false" style="height: 1.11111116409302px;">

		<!--        <ul class="nav navbar-nav">
		            	<li class="active"><a href="/">Home</a></li>
		          	</ul> -->

		          	<ul class="nav navbar-nav navbar-right">

		<!-- 			<li><a href="../navbar/">Default</a></li>
			            <li><a href="../navbar-static-top/">Static top</a></li> -->

			            <li><a href="/search">Search <span class="sr-only">(current)</span></a></li>
			            <li class="active"><a href="/locations">Locations <span class="sr-only">(current)</span></a></li>
			            <li><a href="/categories">Categories <span class="sr-only">(current)</span></a></li>
			        </ul>
		        </div><!--/.nav-collapse -->
		    </div>
		</nav>

		<div class="form-signin">

			<div class="row">
				<h2 class="form-signin-heading">Always Search Locations:</h2>
			</div>

			<div class="alert alert-success row" role="alert">
			  <p>The locations selected here will be applied to all of your searches.
			     San Francisco region is currently only supported region.</p>
			</div>

			<ul class="list-group">
				<% locations.forEach(function(location) { %>
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon">

							<form method="POST" 
								action="/locations/<%= location.id %>?_method=DELETE">
								
								<button>Delete</button>
							</form>

						</span>

						<li class="list-group-item form-control">
							<%= location.name %>
						</li>

					</div>
				</div>
				<% }) %>
			</ul>

		</div>

		<form class="form-signin delete" action="/locations" method="POST">

			<div class="row">
				<!-- Typeahead HTML -->
			    <div class="typeahead-container">
			    	<div class="input group">

			            <span class="typeahead-query">
			                <input id="location-search" name="location" type="search" 
			                	class="form-control" placeholder="Track Additional Locations" 
			                	autocomplete="off">
			            </span>

			        </div>
			    </div>
			</div>

			<br>

			<div class="row">
				<button class="btn btn-lg btn-primary btn-block" class="typeahead-button" 
					type="submit">Add New Locations</button>
			</div>
		</form>

       <% if(error) { %>
        <div class="form-signin">
        	<div class="row">
	        	<div id="login-error" class="alert alert-danger" 
    	    		role="alert"><%= error %></div>
    	    </div>
        </div>
        <% } %>

    </div> <!-- /container -->

</body>
</html>
