<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="bootstrap.min.css"> -->

	<!-- Optional Typeahead Search CSS -->
    <link rel="stylesheet" href="jquery.typeahead.css">
 
    <!-- Required Typeahead JavaScript -->
    <script src="jquery-2.1.3.min.js"></script>
    <script src="jquery.typeahead.js"></script>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- My own jQuery for this page -->
    <script src="index.js"></script>

	<title>Angel Search</title>
</head>
<body>

	<div class="container">

		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		        	<button type="button" class="navbar-toggle collapsed" 
			          	data-toggle="collapse" data-target="#navbar" 
			          	aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		        	</button>
		        	<a class="navbar-brand" href="/">Angel Alert</a>
		        </div>

		        <div id="navbar" class="navbar-collapse collapse" 
		        	aria-expanded="false" style="height: 1.11111116409302px;">

		<!--        <ul class="nav navbar-nav">
		            	<li class="active"><a href="/">Home</a></li>
		          	</ul> -->

		          	<ul class="nav navbar-nav navbar-right">

		<!-- 			<li><a href="../navbar/">Default</a></li>
			            <li><a href="../navbar-static-top/">Static top</a></li> -->

			            <li class="active"><a href="/search">Search <span class="sr-only">(current)</span></a></li>
			            <li><a href="/locations">Locations <span class="sr-only">(current)</span></a></li>
			            <li><a href="/categories">Categories <span class="sr-only">(current)</span></a></li>
			        </ul>
		        </div><!--/.nav-collapse -->
		    </div>
		</nav>

		<form class="form-signin" action="/search" method="POST">
			<h2 class="form-signin-heading">Location Constraints</h2>

			<ul class="list-group">
				<% locations.forEach(function(spot) { %>
					<li class="list-group-item"><%= spot.name %> </li>
				<% }); %>
			</ul>

			<h2 class="form-signin-heading">Category Constraints</h2>

			<ul class="list-group">
				<% categories.forEach(function(category) { %>
					<li class="list-group-item"><%= category.category_name %> </li>
				<% }); %>
			</ul>

			<br>

			<div id="submit-button" class="form-signin-heading">
				<button class="btn btn-lg btn-primary btn-block" type="submit" 
					class="typeahead-button">Search the Crunchbase</button>
			</div>

		</form>

    </div> <!-- /container -->

</body>
</html>
